@import './common.less';

// 通过 less 变量覆盖样式
@layout-body-background: #0e0e17;
@text-color: #fff;
@heading-color: #fff;

// 通过样式名修改样式
.ant-radio-wrapper {
    color: #fff;
}
.ant-radio-inner {
    background-color: #11121C;
    border-color: #363B59;
}
